<li class="list-group-item">
    <div class="container">
        <span class="font-weight-bold">
            {{username}}
        </span>
    </div>
    <div class="container ml-2 mt-2">
        {{text}}
    </div>  
</li> 