<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href= "public/css/main.css">
    <title>Celp</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-color border-bottom">
        <span>
            <a class="navbar-brand h1" href="/">Celp</a>
        </span>
        {{#if authenticated}}
            <div class="dropdown">
                <button id = "profile" class = "dropbtn">{{userName}}</button>
                <div class = "dropdown-content">
                    <a href="/private">User Profile</a>
                    <a href="/users/logout">Logout</a>
                </div>
            </div>
        {{/if}}
        {{#unless log}}
        <div class="container justify-content-end mw-100">
            <span>
                <a href="/users/login" class="btn btn-light px-3 mx-1 border">Login</a>
                <a href="/users/signup" class="btn btn-primary px-3 mx-1">Sign Up</a>
            </span>
        </div>
        {{/unless}}
        
    </nav>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {{> (lookup . 'partial') }}
</body>
</html>