<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "title" content = "{{title}}">
    <title>{{{title}}}</title>
    <link rel="stylesheet" type = "text/css" href="/public/main.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>