html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-parent {
  height: 400px;
}

#map {
  height: 90%;
}

.btnContainer{
    text-align: right;
}

#myInput,
#myInput_2 {
  background-repeat: no-repeat;
  width: 640;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  display:block;
}

.fa {
  font-size: 28px;
  margin: 10px;
}

.fa.filled{
  color: #f15c00;
}

.fa:hover{
  background-color: lightgray;
}

.dblclick{
  user-select: none;
}

.error.font-italic{
  color: red;
}

.reportbtn{
  display: inline-block;
}

.reportbtn.rfilled{
  color: red;
}

.float-right{
  overflow: auto;
  display: inline-block;
}

.check-mark {
  fill: rgb(5, 168, 130);
}

.x-mark {
  fill: rgb(255, 82, 61);
}

.star, .dollar {
  color: #f15c00;
}

.dollar {
  color: #f15c00;
}