.btnContainer{
    text-align: right;
}

#myInput,
#myInput_2 {
  background-repeat: no-repeat;
  width: 640;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  display:block;
}

.fa {
  font-size: 28px;
  margin: 10px;
}

.fa.filled{
  color: blue;
}

.fa:hover{
  background-color: lightgray;
}

.dblclick{
  user-select: none;
}

.error.font-italic{
  color: red;
}