<div class="container m-5 col-sm-4">
    <ul class="list-group">
        <li class="list-group-item"><a href="/restaurants">View All Restaurants</a></li>
        <li class="list-group-item"><a href="/restaurants/new">Create a New Restaurant</a></li>
        <li class="list-group-item"><a href="/statistics">Check Out Our Statistics Page</a></li>
    </ul>
</div>