<h1>Celp: A COVID-19 Yelp</h1>
<h2>During these pressing times, some individuals may find it risky to eat inside restaurants which deters them away from these businesses. Celp offers a way to reassure those who are skeptical through first-hand accounts and experiences.</h2>
<h2>Celp is a restaurant review application designed specifically for reviewing restaurants’ COVID-19 safety measures in the Hoboken area.</h2>
<div class="container m-5 col-sm-4">
    <ul class="list-group">
        <li class="list-group-item"><a href="/restaurants">View All Restaurants</a></li>
        <li class="list-group-item"><a href="/restaurants/new">Create a New Restaurant</a></li>
        <li class="list-group-item"><a href="/statistics">Check Out Our Statistics Page</a></li>
    </ul>
</div>