<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello, we are Celp!</h1>
        <p class="lead">
            During these pressing times, some individuals may find it risky to eat inside restaurants which deters them away from these businesses. Celp offers a way to reassure those who are skeptical through first-hand accounts and experiences.
        </p>
        <hr class="my-4">
        <p class="font-italic">
            On Celp, you will be able to view the COVID-19 readiness of restaurants within the Hoboken area through user reviews. 
            In addition, we collect metrics from each review to calculate the overall safety ratings of a given restaurant.
        </p>
    </div>
    <div class="container p-0 m-0 mt-5 col-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/restaurants">View All Restaurants</a></li>
            <li class="list-group-item"><a href="/statistics">Check Out Our Statistics Page</a></li>
        </ul>
    </div>
</div>