<div class="container m-5 col-sm-4">
    <ul class="list-group">
        <li class="list-group-item"><a href="/restaurants">View all restaurants</a></li>
        <li class="list-group-item"><a href="/restaurants/new">Create a new restaurant</a></li>
    </ul>
</div>