<div class="container col-3 mt-3 text-center">
    <img src="../../public/images/celp2.png" class="fluid-image mb-3" width="128" height="128"alt="company-image">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <form method="POST" action="/users/login" id="login-form" onsubmit="submitButton.disabled = true; return true">
        <label class="sr-only" for="username">Username</label>
        <input class="form-control rounded-0" type="text" id="username" name="username" placeholder="Username">
        <label class="sr-only" for="password">Password</label>
        <input class="form-control mb-4 rounded-0" type="password" id="password" name="password" placeholder="Password">
        <div class="invalid-feedback mb-3">
            Username and/or passsword cannot be empty
        </div>
        <button type="submit" name="submitButton" id="submitButton" class="btn btn-primary w-100">Sign In</button>
    </form>
    <ul id="errors">
        {{#each errors}}
            <li class="list-group-item" >
                {{this}}
            </li>
        {{/each}}
    </ul>
</div>