<div class="container mt-5">
    <div class="container">
        <h1>{{restaurant.name}}</h1>
        <h2>{{restaurant.address}}</h2>
        <h3>{{restaurant.cuisine}}</h3>
    </div>
    <div class="container">
        Reviews should be here
    </div>
</div>