<form method="POST" action="/restaurants/new">
    <div class="form-group">
        <label for="restaurant-name-input">Name</label>
        <input type="text" id="restaurant-name-input" name="name" placeholder="Restaurant name">
    </div>
    <div class="form-group">
        <label for="restaurant-address-input">Address</label>
        <input type="text" id="restaurant-address-input" name="address" placeholder="Restaurant address">
    </div>
    <div class="form-group">
        <label for="restaurant-cuisine-input">Cuisine Type</label>
        <input type="text" id="restaurant-cuisine-input" name="cuisine" placeholder="Type of cuisine">
    </div>
    <button type="submit" class="btn btn-primary">Create New Restaurant</button>
</form>