<div class="container mt-3 col-5">
    <h1>Create a new restaurant</h1>
    <form method="POST" action="/restaurants/new" id="restaurant-form" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="restaurant-name-input">Name</label>
            <input type="text" class="form-control" id="restaurant-name-input" name="name" placeholder="Enter restaurant name">
            <div class="valid-feedback">

            </div>
            <div class="invalid-feedback">
                Please provide a valid restaurant name
            </div>
        </div>
        <div class="form-group">
            <label for="restaurant-address-input">Address</label>
            <input type="text" class="form-control" id="restaurant-address-input" name="address" placeholder="Enter restaurant address">
            <div class="invalid-feedback">
                Please provide a valid address 
            </div>
        </div>
        <div class="form-group">
            <label for="cuisine-type-select">Cuisine Type</label>
            <select name="cuisine" id="cuisine-type-select" class="form-control">
                <option value="" selected>Select cuisine type</option>
                {{#each cuisines}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Please select a cuisine type
            </div>
        </div>
        <div class="form-group" id="cuisine-input-div">
            <label for="restaurant-cuisine-input">Cuisine Type</label>
            <input type="text" class="form-control" id="restaurant-cuisine-input" name="cuisineInput" placeholder="Enter cuisine type">
            <div class="invalid-feedback">
                Please provide a valid cuisine 
            </div>
        </div>
        <div class="form-group">
            <label for="restaurant-link-input">External Link to Yelp</label>
            <input type="text" class="form-control" id="restaurant-link-input" name="link" placeholder="Enter external link">
            <div class="invalid-feedback">
                Please provide a valid external link e.g. https://www.yelp.com/biz/bobs-burgers-hoboken
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="submitButton" id="submitButton">Create New Restaurant</button>
        {{#if hasErrors}}
            {{#each errors}}
                <div class = "error font-italic">{{this}}</div>
            {{/each}}
        {{/if}}
    </form>
    <ul id="errors">
        {{#each errors}}
            <li class="list-group-item" >
                {{this}}
            </li>
        {{/each}}
    </ul>
</div>